DATABASE_URL=sqlite+aiosqlite:///private_messenger.db
TEST_DATABASE_URL=sqlite+aiosqlite:///:memory:
API_PREFIX=/api/v0
PROJECT_NAME=Private Messenger
PROJECT_VERSION=0.0.0
PROJECT_DESCRIPTION=A messenger with powerful encryption.
ALLOWED_ORIGINS=["http://localhost:5173","http://localhost:3000"]
